/* ===========================
Fantastic Nav Bar
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#nav_bar{
	background: none;
	-webkit-backface-visibility: hidden;
	height: 70px;
	position: absolute;
	top: 0px;
	z-index: 10;
	width: 100%;
}

/*Makes the navbar-header touch the left side of the window*/
#nav_bar .container-fluid{
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

/*This is hidden on the homepage by the image but shows up on the other pages */
#nav_bar #background_color{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
	border-bottom: 2px solid #ed2852;
}

/*Centers the nav*/
#nav_bar #nav_wrapper{
	position: relative;
	width: 639px;
	margin: auto;
	height: 100%;
	z-index: 5;
}

#nav_bar #logo_tab{
	position: absolute;
	padding-top: 17px;
	left: 222px;
	height: 100%;
	z-index: 5;
}

#nav_bar #logo_tab img{
	position: relative;
	top: 0px;
	left: 0px;
	width: 200px;
}

#nav_bar #nav_items{
	position: relative;
	height: 100%;
}

#nav_items li{
	display: inline-block;
	min-width: 160px;
	font-size: 1.05em;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

#nav_items li#browse_tab{
	margin-right: 260px;
}

#nav_items li a{
	height: 100%;
	color: white;
	background-color: transparent !important;
}

#nav_items li.disable a{
	color: gray;
}

#nav_items li a:hover{
	color: gray;
}


#nav_items li a p{
	line-height: 42px;
	margin-bottom: 0px;
	text-align: center;
}
/*All the nav tabs */

#nav_bar ul li a{
	color: white;
	padding-bottom: 15px;
	padding-bottom: 15px;
}

#nav_bar ul li a p{
	margin-bottom: 0px;
}

/*Add the white line to the left items*/
#nav_bar ul.navbar-left a{
	border-right: 1px solid white;
}

/*=====BROWSE======*/

#nav_bar #browse_tab.open #browse_tab_text{
	background-color: black;
}

#nav_bar #browse_menu .browse_item a{
	text-align: left;
	color: black;
}

/*/*=====SEARCH======*/
/*#nav_bar #nav_search{
	padding-top: 15px;
	width: 250px;
}

#nav_bar #nav_search span{
	position: absolute;
	color: white;
	top: 9px;
	left: 7px;
}

#nav_bar #nav_search input{
	position: relative;
	color: white;
	background-color: black;
	outline: none;
	border: 0px solid;
	border-bottom: 1px solid gray;
}

/*Dropdown menu populated with search auto-fill*/
/*#nav_bar #nav_search .search_menu{
	position: absolute;
	background-color: gray;
	top: 40px;
	left: 41px;
	width: 167px;
}

#nav_bar #nav_search .search_item{
	position: relative;
	width: 100%;
	height: 25px;
	text-align: left;
}

#nav_bar #nav_search .search_item a{
	position: relative;
	left: 5px;
	top: 2px;
	color: white;
	border: none;
}

#nav_bar #nav_search .search_item:hover{
	color: white;
	background-color: #ed2852; 
}/*/

/*=====CART======*/
/*
#cart_tab a{
	font-size: 18px;
}

#cart_tab a span{
	position: relative;
	top: 2px;
	left: -2px;
	font-size: 16px;
}
*/
/*#cart_div{
	position: absolute;
	top: 100px;
}*/
/*
#top_bar nav a#log_in{
	position: absolute;
	right: 230px;
}

#top_bar nav a#profile{
	position: absolute;
	right: 230px;
}

#top_bar nav a#sign_in{
	position: absolute;
	right: 340px;
}

#top_bar nav a#cart{
	position: absolute;
	right: 340px;
}*/
