/* ===========================
Fantastic Campaign
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#campaign_content{
	position: relative;
	background-color: #efefef;
	top: 50px;
	min-width: 1090px;
	max-width: 1160px;
	width: 95%;
	overflow: hidden;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: white;
}

#footer{
	position: relative;
	width: 100%;
	top: 60px;
	color: #777;
	background-color: #424143;
	text-align: center;
}

#pre_footer{
	position: relative;
	height: 30px;
	background-color: #ed2852;
}

#footer #footer_wrapper{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 500px;
	height: 75px;
}

#footer_wrapper .footer_list{
	position: relative;
	float: left;
	width: 50%;
	list-style-type: none;
}

.footer_list .list_header{
	font-weight: bold;
	font-size: 1.1em;
}

#footer_logo{
	position: relative;
}
#footer_text{
	height: 40px;
	position: relative;
	clear: both;
}
#footer_text a{
	color: #777;
}

/* Checkout */

#checkout_div{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #efefef;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	margin-bottom: 30px;
}

#checkout_div #credit_card_print{
	position: relative;
	top: 60px;
	width: 80%;
	font-size: 0.8em;
	margin: auto;
	display: block;
}

#checkout_div #checkout_box{
	position: relative;
	display: block;
	margin: auto;
	top: 60px;
	width: 80%;
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
}

#checkout_box div{
	position: relative;
	width: 100%;
}

#checkout_box #payment_header{
	height: 45px;
	top: 0px;
	margin: 0;
	padding-top: 6px;
	font-size: 1.2em;
	color: black;
	background-color: #DEDEDE;
	border-bottom: 1px solid gray;
}	
#checkout_box #payment_header img{
	position: relative;
	display: block;
	margin: auto;
	top : -26px;
	width: 40px;
	border: 2px black;
}
#checkout_box #payment_header p{
	position: relative;
	top : -30px;
	width: 400px;
	border: 2px black;
	padding-left: 5px;
}
#checkout_box #level_option{
	height: 60px;
	background-color: #efefef;
}

#level_option p{
	float: left;
	width: 230px;
	height: 100%;
	margin: 0;
	font-size: 1.05em;
	font-weight: bold;
	padding-top: 19px;
}

#level_option #level_select{
	float: left;
	height: 35px;
	width: 600px;
	top:12px;
	border-bottom: none;
}
#level_select .payment_level{
	position: relative;
	display: inline-block;
	height: 35px;
	width: 130px;
	border-radius:10px; 
	border: 1px solid;
	border-color: rgba(0,0,0,0.5);
	background-color: #9E9E9E;
	color: white;
	font-size: 1.17em;
	text-align: center;
	outline: none;
	margin-right: 5px;
	font-weight: bold;
}
#level_select .payment_level:hover{
	background-color: rgba(237,40,82,0.6);
}
#level_select .payment_level:active{
	background-color: #ed2852;
}
#checkout_box #gift_methods{
	height: 40px;
	background-color: #efefef;
}
#gift_methods input{
	float: left;
	margin-top: 12px;
	margin-right: 4px;
}
#gift_methods p{
	float: left;
	width: 300px;
	margin-top: 8px;
	margin-bottom: 3px; 
}
#checkout_box #payment_email{
	height: 60px;
	background-color: #efefef;
}

#payment_email #email_input{
	position: relative;
	top: 17px;
	width: 300px;
}

#checkout_box #payment_methods{
	height: 70px;
	background-color: #C9C9C9;
	border-bottom: none;
}
button.pay_button{
	position: relative;
	top: 15px;
    height: 40px;
    width: 170px;
    color: black;
    font-size: 1.0em;
    border: 1px solid;
    border-color: rgba(255,255,255,0.0);
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

#payment_methods #credit_button{
	background-color: #2dabf9;
	color: white;
}
#payment_methods #credit_button:hover{
	background-color: black;
	color: #2dabf9;
}
#payment_methods #paypal_button{
	background-color: #ffd900;
}
#payment_methods #paypal_button:hover{
	background-color: black;
	color: #ffd900;
}
#payment_methods #amazon_button{
	background-color: #ff9900;
}
#payment_methods #amazon_button:hover{
	background-color: black;
	color: #ff9900;
}
#checkout_box #credit_card_print{
	font-size: 0.7em;
	border-bottom: none;
}