/* ===========================
Fantastic Campaign
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#campaign_content{
	position: relative;
	background-color: #efefef;
	top: 50px;
	min-width: 940px;
	max-width: 1160px;
	width: 80%;
	overflow: hidden;
	padding: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
/*This creates the circle object*/
.circle{
	width: 16px;
	height: 16px;
	background-color: black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#footer{
	position: relative;
	width: 100%;
	height: 100px;
	top: 80px;
	color: #777;
	background-color: #424143;
	text-align: center;
}

#pre_footer{
	position: relative;
	height: 30px;
	background-color: #ed2852;
}

#footer_logo{
	position: relative;
}
#footer_text{
	position: relative;
}
#footer_text a{
	color: #777;
}