/* ===========================
Fantastic Checkout
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#checkout_bg{
	z-index: 99;
	position: absolute;
	left: 0px;
	/* Top set by jquery in checkoutDirective.js */
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#checkout_form{
	position: absolute;
	top: 25%;
	width: 370px;
	height: 600px;
	display: block;
	right: 0;
	left: 0;
	margin: auto;
	color: black;
	background-color: #efefef;
	border-radius: 10px;
}

#checkout_form img{
	position: relative;
	display: block;
	margin: auto;
	top : -40px;
	width: 80px;
	border: 2px black;
}

#checkout_form h3{
	position: relative;
	color: black;
	background-color: #D5D5D5;
	text-align: center;
	top: -55px;
}

#checkout_form_header{
	background-color: #D5D5D5;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid black;
	border-radius: 10px;
}

#checkout_form_content{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 250px;
	top: -12px;
	padding-top: 7px;
	background-color: #efefef;
	border-top: 1px solid #AFAFAF;
	border-bottom: 1px solid #AFAFAF;
	overflow: hidden;
}

#checkout_form_content p{
	position: relative;
	margin: auto;
	padding-left: 12px;
	padding-right: 10px;
}

#checkout_form_content p#tagline{
	font-weight: bold;
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 3px;
	color: #ed2852;
}

#checkout_form_content p#sub{
	font-size: 1.1em;
	text-align: center;
	margin-bottom: 10px;
	font-style: italic;
}

#checkout_form_content p#explain{
	position: relative;
	top: 15px;
	font-size: 1.28em;
	text-align: center;
	font-weight: 600;
}

#checkout_form_content p#explain #logo_text{
	color: #ed2852;
}

#checkout_form_content p#thanks{
	text-align: center;
}

#checkout_form p#signup{
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 0.95em;
	top: 35px;
	position: relative;
	font-weight: bold;
}

#checkout_form_follow{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 60px;
	padding-top: 7px;
	background-color: #efefef;
	border-bottom: 1px solid #AFAFAF;
	overflow: hidden;
	text-align: center;
	font-size: 1.0em;
	top: -9px;
}

/*#checkout_form_content input{
	position: relative;
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 175px;
	height: 30px;
	padding-left: 3px;
}

#checkout_form_content input{
	position: relative;
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 175px;
	height: 30px;
}*/

#checkout_pay_btn{
	position: relative;
	display: block;
	margin: auto;
	width: 150px;
	top: 45px;
}

#checkout_close_btn{
	position: absolute;
	top: 5px;
	left: 7px;
	cursor: pointer;
	color: gray;
}

/*#checkout_items_number{
	position: relative;
	top: -9px;
	left: 90px;
}

#checkout_fineprint{
	position: relative;
	left: 87px;
	top: -6px;
	color: gray;
	font-size: .7em;
}*/

/*#jump_in_div{
	position: absolute;
	height: 150px;
	width: 270px;
	font-size: 14px; 
	text-align: center;
	border-bottom: 1px solid #efefef;
}
*/
#signup_email{
	position: relative;
	display: block;
	margin: auto;
	height: 35px;
	width: 230px;
	top: 35px;
	padding-left: 5px;
	outline: none;
	margin-bottom: 5px;
}

.signup_msg{
	position: absolute;
	z-index: 2;
	top: 408px;
	font-size: 1.5em;
}

.signup_msg#signup_error{
	color: red;
	left: 107px;
}

.signup_msg#signup_success{
	color: green;
	left: 95px;
}
