/* ===========================
Fantastic Homepage
Copyright 2015
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#homepage{
	position: relative;
	top: 50px;
	min-width: 1060px;
	max-width: 1160px;
	display: block;
	margin: auto;
}

#homepage #homepage_banner{
	position: relative;
	height: 400px;
	width: 100%;
	max-width: 1130px;
	overflow: hidden;
	text-align: center;
	font-size: 30px;
	top: 0px;
	z-index: 3px;
}

#homepage_banner #homepage_img{
	position: absolute;
	width: 100%;
	min-height: 365px;
	left: 0px;
	text-align: center;
	font-size: 30px;
}

#homepage_banner .banner_tag{
	position: relative;
	width: 100%;
	color: #ed2852;
	font-size: 1.3em;
	text-align: center;
	padding-top: 35px;
	font-weight: bold;
	margin-bottom: 55px;
}

#homepage_banner .banner_line{
	position: relative;
	width: 600px;
	color: white;
	margin: 0 auto;
	font-size: 0.87em;
	text-align: left;
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.banner_line .banner_number{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	color: #ed2852;
	border: 2px solid #ed2852;
	float: left;
	margin-right: 11px;
	padding-left: 11px;
	line-height: 34px;
	font-size: 0.9em;
	font-weight: bold;
}

#homepage #homepage_project{
	position: relative;
	height: 600px;
	width: 100%;
}

#homepage_project .project_portal{
	display: inline-block;
	position: relative; 
	width: 300px;
	height: 400px;
	float: left;
	border: 1px solid;
	border-color: gray;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 30px;
}

#homepage_project #homepage_category{
	position: relative;
	text-align: center;
}

.project_portal a{
	outline: none;
	text-decoration: none;
	color: black;
}

.project_portal .project_thumb{
	position: relative;
	height: 150px;
	max-width: 300px;
	overflow: hidden;

}
.project_thumb img{
	top: 0px;
}

.project_portal .project_info{
	position: relative;
	padding-left: 5px;
	text-align: left;
}

.project_info .project_title{
	position: relative;
	margin: 0px;
	font-size: 1.5em;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}
.project_info .project_producer{
	position: relative;
	margin: 0px;
	font-size: 1.0em;
	margin-top: 3px;
	text-align: center;
}
.project_info .project_release{
	position: relative;
	margin: 0px;
	font-size: 0.9em;
	margin-top: 5px;
	font-weight: normal;
}
.project_info .project_description{
	position: relative;
	margin: 0px;
	font-size: 0.9em;
	margin-top: 10px;
	height: 80px;
}

.project_info .project_data{
	position: relative;
	height: 40px;
	margin: 0px;
	font-size: 1.0em;
	margin-top: 8px;
	float: left;
}

.project_funded .project_number{
	color: #ed2852;
}

.project_fans .project_number{
	color: #5C2D53;
}

.project_data .project_number{
	font-size: 1.8em;
}

.project_data .project_number{
	font-size: 1.8em;
}

.project_info .project_funded{
	position: relative;
	width: 200px;
}
.project_info .project_fans{
	position: relative;
	width: 90px;
}

@media screen and (max-width: 1180px){
	#homepage_banner .banner_tag{
		font-size: 1.2em;
	}
} 
/*