/* ===========================
Fantastic Reward Bar
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */
/*Entire Div*/
#reward_bar_div{
	position: relative;
	height: 235px;
	background-color: black;
	border-top: 2px solid #ed2852;
}

#reward_bar_div #progress_and_rewards{
	position: relative;
	float: right;
	width: 100%;
	height: 80%;
}


/*Reward bar holder */
#progress_and_rewards #progress_bar{
	position: relative;
	top: 30px;
	height: 32px;
	border-radius: 16px;
}

/*Reward Bars*/
#progress_and_rewards #progress_bar #paid_bar{
	background-color: #ed2852;
		
}
#progress_and_rewards #progress_bar #cart_bar{
}

/*Reward counter*/
#progress_and_rewards #amount_counter{
	position: relative;
	height: 25px;
	width: 200px;
	top: 5px;
	-webkit-transition: left 1s; /* For Safari 3.1 to 6.0 */
    transition: left 1s;
    z-index: 10;
}
#progress_and_rewards #amount_counter img{
	position: absolute;
	padding-top: 0px;
}
#progress_and_rewards #amount_counter #odometers{
	position: relative;
	top: 12px;
	left: 12px;
	font-size: 1.33em;
}
#progress_and_rewards #amount_counter .odometer{
	position: relative;
	top: -2px;
	background-color: white;
}

#progress_and_rewards #amount_counter .campaign_counter{
	color: #ed2852;
}

#progress_and_rewards #amount_counter .cart_counter{
	color: green;
}

/*Each Reward Div*/
.reward_box{
	position: absolute;
	width: 160px;
	height: 100%;
	top: 0px;
	left: 0px;
}

/* in-bar dot */
.reward_box .circle{
	position: absolute;
}
.reward_box .circle.locked{
	top: 67px;
	height: 10px;
	width: 10px;
	left: 9px;
	background-color: black;
}
.reward_box .circle.unlocked{
	top: 63px;
	height: 16px;
	width: 16px;
	left: 9px;
	background-color: white;
}

/*Below bar content */
.reward_box .reward_content{
	position: absolute;
	width: 190px;
	top: 92px;
	left: -50%;
	
}
.reward_box .reward_text{
	position: relative;
	display: inline-block;
	margin: auto;
	left: 0px;
	width: 100%;
	text-align: center;
}
.reward_box .threshold_text{
	position: relative;
	display: inline-block;
	margin: auto;
	top: 5px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 0.9em;
}
.reward_box .lock_text{
	position: relative;
	display: inline-block;
	margin: auto;
	top: 5px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: gray;
	font-style: italic;
	font-size: 0.9em;

}
.reward_box .reward_text.unlocked{
	color: gray;
	font-size: 1.1em;
}
.reward_box .reward_text.current{
	color: white;
	font-size: 1.3em;
}
.reward_box .lock{
	position: relative;
	top: 2px;
	font-size: 1.7em;
}

/*Header*/
#reward_bar_div #header_and_help{
	position: relative;
	width: 100%;
	top: 0px;
	padding-top: 10px;
}

#reward_bar_div #header_and_help h1{
	position: relative;
	float: left;
	width: 30%;
	font-size: 1.6em;
	color: #ed2852;
	margin: 0;
}

#reward_bar_div #header_and_help p{
	position: relative;
	float: left;
	padding-top: 3px;
	font-size: 1.0em;
	color: white;
	width: 70%;
	text-align: center;
}


