/* ===========================
Fantastic Store
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

/*The Store Container*/
#store_container{
	position: relative;
	background-color: #efefef;
	margin-bottom: 50px;
}

#store_container #site_details{
	position: relative;
	width: 100%;
	top: 0px;
	padding-top: 7px;
	padding-bottom: 5px;
/*	background-color: #FFFAE4;
/*	background-color: rgba(237, 40, 82, 0.5); */
	background-color: white;
	border: 1px solid black;
	border-top: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#store_container #site_details p{
	text-align: center;
	font-size: 18px;
}

#store_container h3{
	color: #ed2852;
}

/*All Incentives*/
#incentive_options{
	position: relative;
	text-align: center;
	margin-top: 25px;
}

/* Each incentive box - contains all the incentive information */
.incentive_box{
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 196px;
	height: 260px;
	background-color: white;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 2px solid rgba(0,0,0,0.0);
	border-radius: 6px;
	cursor: pointer;
}
.incentive_box img{
	position: relative;
	width: 40px;
	height: 40px;
	border: 1px solid;
}
.incentive_box:hover{
	border: 2px solid rgba(0,0,0,0.5);
}

.incentive_box.selected{
	border: 2px solid rgba(0,0,0,0.5);
}

.incentive_box:hover .title_background{
	top: 60px;
	font-size: 1.3em;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50% 5px;
}


.incentive_box.selected .title_background{
	top: 60px;
	font-size: 1.3em;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

.incentive_title .title_text{
	position: relative;
	height: 70px;
	top: 50px;
	color: #ed2852;
	font-family: 'Changa One', cursive;
	font-style: italic;
	font-weight: 400;
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 15px;
}

.title_background{
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: 50% 0px;
}

.level_Fan .title_background{
	background-image: url("/assets/images/badge.png");
}
.level_Contributor .title_background{
	background-image: url("/assets/images/blog.png");
}
.level_Digital .title_background{
	background-image: url("/assets/images/video.png");
}
.level_Tangible .title_background{
	background-image: url("/assets/images/physical.png");
}


/*.level_Free .title_background{
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-image: url("/assets/images/badge.png");
}
.level_1 .title_background{
	background-size: 7px 7px, 17px 17px, 40px 40px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 135px 10px, 150px 5px, 50% 0px;
	background-image: url("/assets/images/plus_gray.png"), url("/assets/images/badge_gray.png"), url("/assets/images/blog.png");
}
.level_2 .title_background{
	background-size: 10px 10px, 20px 20px, 20px 20px, 40px 40px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 135px 10px, 150px 5px, 150px 25px, 50% 0px;
	background-image: url("/assets/images/plus_gray.png"), url("/assets/images/badge_gray.png"), url("/assets/images/blog_gray.png"), url("/assets/images/video.png");
}
.level_3 .title_background{
	background-size: 10px 10px, 20px 20px, 20px 20px, 20px 20px, 40px 40px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat , no-repeat;
	background-position: 135px 10px, 150px 5px, 130px 25px, 150px 25px, 50% 0px;
	background-image:url("/assets/images/plus_gray.png"), url("/assets/images/badge_gray.png"),  url("/assets/images/blog_gray.png"), url("/assets/images/video_gray.png"),url("/assets/images/physical.png");
}*/


.carry_over.Contributor{
	background-size: 15px 15px, 30px 30px;
	background-repeat: no-repeat, no-repeat;
	background-position: 73px 7px, 96px 0px;
	background-image: url("/assets/images/plus.png"), url("/assets/images/badge.png");
}
.carry_over.Digital{
	background-size: 15px 15px, 30px 30px, 30px 30px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 58px 7px, 82px 0px, 118px 0px;
	background-image: url("/assets/images/plus.png"), url("/assets/images/badge.png"), url("/assets/images/blog.png");
}
.carry_over.Tangible{
	background-size: 15px 15px, 30px 30px, 30px 30px, 30px 30px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 37px 7px, 60px 0px, 96px 0px, 133px 0px;
	background-image: url("/assets/images/plus.png"), url("/assets/images/badge.png"), url("/assets/images/blog.png"), url("/assets/images/video.png");
}

/* Actually objects of the incentive package */
.incentive_components{
	position: relative;
	color: black;
	font-size: 1.0em;
	text-align: center;
}
.incentive_components p{
	margin: 0;
	margin-bottom: 5px;
}
.incentive_components .carry_over{
	position: relative;
	color: #ed2852;
	top: 5px;
	height: 30px;
}

.incentive_components .reward_related{
	color: gray;
}
.incentive_buy{
	position: absolute;
	left: -2.5px;
	bottom: 0px;
	height: 50px;
	width: 196px;
	margin: 0;
	padding: 0;
	background-color: #ed2852;
	color: white;
}
.incentive_buy .incentive_price{
	position: relative;
	font-size: 1.4em;
	text-align: center;
	height: 100%;
	width: 100%;
}
.incentive_buy .min_text{
	font-size: .7em;
	margin: 0;
	padding: 0;
}
.incentive_buy .incentive_checkout{
	position: relative;
	float: right;
	color: white;
	font-size: 1.18em;
	border-left: 1px solid white;
	height: 100%;
	width: 80px;
	padding-top: 2px;
	text-align: center;
	cursor: pointer;
}

/*Detail Box */
#detail_box{
	min-height: 200px;
	color: #ed2852;
	text-align: center;
}

#detail_box .detail_title{
	text-align: center;
	margin-bottom: 30px;
	color: black;
}

#detail_box div{
	display: inline-block;
}

#detail_box .detail_component{
	position: relative;
	vertical-align: top;
	width: 320px;
	min-height: 150px;
	font-size: 1.0em;
	color: black;
	margin-right: 20px;
	background-color: white;
	border-radius: 10px;

}

#detail_box .detail_component .component_title{
	position: relative;
	color: #ed2852;
}

#detail_box .detail_component .component_des{
	position: relative;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

#detail_box .detail_component .component_type{
	position: relative;
	text-align: center;
	width: 100%;
	font-style: italic;
	margin-bottom: 3px;
}

#detail_box .detail_component .component_note{
	position: relative;
	text-align: left;
	margin-left: 5px;
	font-size: 0.7em;
	font-style: italic;
}

/*Detail Extras */
#detail_box .detail_extras{
	position: relative;
	vertical-align: top;
	text-align: center;
	width: 200px;
	height: 140px;
	font-size: 1.35em;

}

#detail_box .detail_extras p{
	margin-left: 20px;
}

#detail_box .detail_extras button{
	position: absolute;
	height: 60px;
	width: 120px;
	left: 40px;
	bottom: 0px;
	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
  	border-radius: 3px;
  	outline: none;
  	box-shadow: none;
 	color: white;
  	font-size: 1em;
  	background: #5cb85c;
  	text-decoration: none;
}

#detail_box .detail_extras #added_to_cart{
	position: absolute;
	top: 90px;
	left: 140px;
	width: 90px;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
	color: #5cb85c;

}