/* ===========================
Fantastic Video
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#summary_div{
	position: relative;
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid #ed2852;
}

#summary_div #campaign_title{
	position: relative;
	text-align: center;
	height: 65px;
	width: 100%;
	top: 0px;
	left: 0px;
	color: black;
	background-color: white;
	margin: 0px;
	padding-top: 25px;
	font-size: 3.0em;
}

#summary_div #campaign_producer{
	position: relative;
	text-align: center;
	height: 20px;
	width: 100%;
	top: 0px;
	left: 0px;
	color: gray;
	background-color: white;
	margin: 0px;
	margin-top: 5px;
	padding-top: 0px;
	font-size: 12px;
}

#summary_div #campaign_producer a{
	color: rgba(0,0,0,0.5);
}

#summary_div #campaign_producer a:hover{
	color: rgba(0,0,0,0.7);
	text-decoration: underline;
}

/*#summary_div .visual_element{
	position: relative;
	width: 50%;
	display: block;
	margin: auto;
	outline: none;
}*/

#summary_div #video_poster{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
}

#summary_div #campaign_info{
	position: relative;
	width: 100%;
	height: 470px;
	border-top: 2px solid #ed2852;
}

#summary_div #campaign_info #left_column{
	position: relative;
	width: 65%;
	height: 400px;
	float: left;
}

#summary_div #campaign_info #right_column{
	position: relative;
	width: 35%;
	height: 400px;
	float: left;
}

/*Left Column*/

#left_column #campaign_tagline{
	position: relative;
	height: 50%;
	padding-top: 55px;
	padding-right: 10px;
}

#campaign_tagline #large{
	position: relative;
	width: 100%;
	font-size: 29px;
	margin-bottom: 5px;
	color: black;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
}

#campaign_tagline #sub{
	position: relative;
	width: 100%;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 0px;
	color: black;
	text-align: left;
	padding-left: 10px;
}

/*The Reward bar is also in this column*/

/*Right Column*/
#right_column #campaign_snapshot{
	position: relative;
	width: 100%;
	height: 50%;
	top: 10px;
	color: black;
	padding-left: 20px;
	padding-top: 12px;
	line-height: 32px;

}

#campaign_snapshot .snapshot_figure_left{
	float: left;
	text-align: left;
	width: 65%;
	margin-bottom: 12px
}

#campaign_snapshot .snapshot_figure_right{
	float: left;	
	text-align: left;
	width: 35%;
}

.progress_number{
	font-size: 2.9em;
	font-weight: bold;
}

#campaign_total .progress_number{
	color: #ed2852;
}
#campaign_tally .progress_number{
	color: #033361;
}
#campaign_fans .progress_number{
	color: #5C2D53;
}
#current_progress .progress_number{
	color: green;
}

/*Reward Highlight*/

#reward_highlight{
	position: relative;
	float: left;
	height: 270px;
	width: 100%;
	text-align: left;
	color: white;
	background-color: black;
	top: 0px;
	padding-left: 20px;
}

#reward_highlight #reward_header{
	position: relative;
	font-size: 3.5em;
	font-weight: 300;
	margin: 0;
	top: 15px;
}

#reward_highlight #reward_title{
	position: relative;
	font-size: 2.0em;
	font-weight: bold;
	color: green;
	top: 25px;
	line-height: 30px;

}
#reward_highlight #reward_description{
	position: relative;
	top: 33px;
	font-style: italic;
}
#reward_highlight #reward_delivery{
	position: relative;
	top: 32px;
	font-style: italic;
}

#reward_highlight button{
	position: relative;
	top: 45px;
    height: 60px;
    width: 210px;
    background: #5C2D53;
    color: white;
    font-size: 1.3em;
    border: 1px solid;
    border-color: rgba(255,255,255,0.0);
    outline: none;
}
#reward_highlight button:hover{
    background: white;
    color: #5C2D53;
    border-color: rgba(0,0,0,1);
}
