/* ===========================
Fantastic Video
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#video_div{
	position: relative;
	width: 100%;
	max-height: 800px;
	overflow: hidden;

}

.video_element{
	position: relative;
	width: 50%;
	display: block;
	margin: auto;
	outline: none;
}

#campaign_title{
	position: relative;
	text-align: center;
	height: 60px;
	width: 100%;
	top: 0px;
	left: 0px;
	color: black;
	background-color: white;
	margin: 0px;
	padding-top: 25px;
	font-size: 32px;
}

#campaign_producer{
	position: relative;
	text-align: center;
	height: 20px;
	width: 100%;
	top: 0px;
	left: 0px;
	color: gray;
	background-color: white;
	margin: 0px;
	padding-top: 0px;
	font-size: 12px;
}

#campaign_producer a{
	color: rgba(0,0,0,0.5);
}

#campaign_producer a:hover{
	color: rgba(0,0,0,0.7);
	text-decoration: underline;
}

#campaign_description{
	position: relative;
	height: 100px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.9);
	padding-left: 8px;
	padding-right: 8px;
	background-color: #efefef;
	z-index: 2;
}

#campaign_description p{
	position: relative;
	float: left;
	width: 65%;
	height: 100%;
	font-size: 16px;
	padding-top: 14px;

}

#video_poster{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
}

#join_the_fanbase{
	position: relative;
	float: left;
	width: 35%;
	z-index: 2;
	text-align: center;
}

#join_the_fanbase button{
	position: relative;
	top: 25px;
    height: 38px;
    width: 210px;
    background: #5C2D53;
    color: white;
    font-size: 1.3em;
    border: 1px solid;
    border-color: rgba(255,255,255,0.0);
    outline: none;
}
#join_the_fanbase button:hover{
    background: white;
    color: #5C2D53;
    border-color: rgba(0,0,0,1);
}
#join_the_fanbase #join_text{
	position: relative;
	top: 28px;
	width: 100%;
	text-align: center;
	color: gray;
	font-size: .8em;
}
