/* ===========================
Fantastic Store
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

/*The Store Container*/
#store_container{
	position: relative;
	background-color: #D1D1D1;
	padding: 0;
	min-height: 380px;
}

#store_container #site_details{
	position: relative;
	width: 100%;
	top: 0px;
	padding-top: 7px;
	padding-bottom: 5px;
/*	background-color: #FFFAE4;
/*	background-color: rgba(237, 40, 82, 0.5); */
	background-color: white;
	border: 1px solid black;
	border-top: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#store_container #incentive_header{
	padding-left: 20px;
}

#store_container #site_details p{
	text-align: center;
	font-size: 18px;
}

#store_container .store_tab{
	  position: relative;
  width: 50%;
  height: 40px;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  cursor: pointer;
  /* background-color: white; */
}

#store_container .store_tab#left_tab{
	  border-right: 1px solid #ed2852;
}

#store_container .store_tab.active{
	  color: #ed2852;
  background-color: #d1d1d1;
  border-bottom-color: #ed2852;
  border-top-color: #ed2852;
  font-weight: bold;
  /* background-color: white; */
}

/*Social*/
#social #community_header{
	position: relative;
	top: -21px;
  padding-left: 50px;
}
#social #comment_div{
  top: 0px;
  width: 420px;
  height: 270px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#social #comment_div h4{
	text-align: center;
}
#social #comment_div #textbox{
	position: relative;	
	top: 3px;
	  width: 420px;
	  height: 100px;
  /* height: 400px; */
  left: 16px;
  padding-left: 5px;
}
#social #comment_div #box_button{
	position: relative;
	top: 4px;
	left: 16px;
	width: 160px;
}
#social #social_feed{
	  position: relative;
  float: left;
  text-align: center;
  width: 100%;
}
#social #reddit_img{
	position: relative;
	top: -15px;
	float: left;
  	margin-left: 10px;
  	width: 55%;
}
#social #social_img{
	position: relative;
	top: 7px;
}

#social{
	position: relative;
	top: 40px;
}


/*All Incentives*/
#incentive_options{
	position: relative;
	text-align: center;
	margin-top: 25px;
}

/* Each incentive box - contains all the incentive information */
.incentive_box{
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 196px;
	height: 210px;
	background-color: white;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 2px solid rgba(0,0,0,0.0);
	border-radius: 6px;
	cursor: pointer;
	padding-top: 5px;
}
.incentive_box img{
	position: relative;
	width: 40px;
	height: 40px;
	border: 1px solid;
}
.incentive_box:hover{
	border: 2px solid rgba(0,0,0,0.5);
}

.incentive_box.selected{
	border: 2px solid rgba(0,0,0,0.5);
}

.incentive_box:hover .title_background{
	top: 60px;
	font-size: 1.1em;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50% 5px;
}


.incentive_box.selected .title_background{
	top: 60px;
	font-size: 1.1em;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

.incentive_title .title_text{
	position: relative;
	height: 70px;
	top: 50px;
	color: #ed2852;
	font-family: 'Changa One', cursive;
	font-style: italic;
	font-weight: 400;
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 15px;
}

.title_background{
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: 50% 0px;
}

/*.level_0 .title_background{
	background-image: url("/assets/images/badge.png");
}
.level_1 .title_background{
	background-image: url("/assets/images/blog.png");
}
.level_2 .title_background{
	background-image: url("/assets/images/video.png");
}
.level_3 .title_background{
	background-image: url("/assets/images/physical.png");
}*/


/*.level_Free .title_background{
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-image: url("/assets/images/badge.png");
}
.level_1 .title_background{
	background-size: 7px 7px, 17px 17px, 40px 40px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 135px 10px, 150px 5px, 50% 0px;
	background-image: url("/assets/images/plus_gray.png"), url("/assets/images/badge_gray.png"), url("/assets/images/blog.png");
}
.level_2 .title_background{
	background-size: 10px 10px, 20px 20px, 20px 20px, 40px 40px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 135px 10px, 150px 5px, 150px 25px, 50% 0px;
	background-image: url("/assets/images/plus_gray.png"), url("/assets/images/badge_gray.png"), url("/assets/images/blog_gray.png"), url("/assets/images/video.png");
}
.level_3 .title_background{
	background-size: 10px 10px, 20px 20px, 20px 20px, 20px 20px, 40px 40px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat , no-repeat;
	background-position: 135px 10px, 150px 5px, 130px 25px, 150px 25px, 50% 0px;
	background-image:url("/assets/images/plus_gray.png"), url("/assets/images/badge_gray.png"),  url("/assets/images/blog_gray.png"), url("/assets/images/video_gray.png"),url("/assets/images/physical.png");
}*/


.carry_over.Contributor{
	background-size: 15px 15px, 30px 30px;
	background-repeat: no-repeat, no-repeat;
	background-position: 73px 7px, 96px 0px;
	background-image: url("/assets/images/plus.png"), url("/assets/images/badge.png");
}
.carry_over.Digital{
	background-size: 15px 15px, 30px 30px, 30px 30px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 58px 7px, 82px 0px, 118px 0px;
	background-image: url("/assets/images/plus.png"), url("/assets/images/badge.png"), url("/assets/images/blog.png");
}
.carry_over.Tangible{
	background-size: 15px 15px, 30px 30px, 30px 30px, 30px 30px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 37px 7px, 60px 0px, 96px 0px, 133px 0px;
	background-image: url("/assets/images/plus.png"), url("/assets/images/badge.png"), url("/assets/images/blog.png"), url("/assets/images/video.png");
}

/* Actually objects of the incentive package */
.incentive_components{
	position: relative;
	color: black;
	font-size: 1.0em;
	text-align: center;
}
.incentive_components p{
	margin: 0;
	margin-bottom: 5px;
}
.incentive_components .carry_over{
	position: relative;
	color: #ed2852;
	top: 5px;
	height: 30px;
}

.incentive_components .reward_related{
	color: #ed2852;
	font-size: 1.15em;
	font-weight: bold;
}
.incentive_buy{
	position: absolute;
	left: -2.5px;
	bottom: 0px;
	height: 50px;
	width: 196px;
	margin: 0;
	padding: 0;
	background-color: #ed2852;
	color: white;
}
.incentive_buy .incentive_price{
	position: relative;
	font-size: 1.4em;
	text-align: center;
	height: 100%;
	width: 100%;
}
.incentive_buy .min_text{
	font-size: .7em;
	margin: 0;
	padding: 0;
}
.incentive_buy .incentive_checkout{
	position: relative;
	float: right;
	color: white;
	font-size: 1.18em;
	border-left: 1px solid white;
	height: 100%;
	width: 80px;
	padding-top: 2px;
	text-align: center;
	cursor: pointer;
}

/*Detail Box */
#detail_box{
	min-height: 200px;
	color: #ed2852;
	text-align: center;
}

#detail_box .detail_level{
	color: #ed2852;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 5px;
}

#detail_box .detail_title{
	text-align: left;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: black;
}

#detail_box .detail_component{
	/*display: inline-block;
	position: relative;
	vertical-align: top;
	width: 320px;
	height: auto;
	font-size: 1.0em;
	color: black;
	margin-right: 20px;
	margin-top: 30px;
	background-color: white;
	border-radius: 10px;*/
	  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 250px;
  height: 227px;
  font-size: 1em;
  color: #000;
  margin-right: 20px;
  /* margin-top: 30px; */
  background-color: #fff;
  border-radius: 2px;
  	margin-top: 10px;

}

#detail_box .detail_component .component_title{
	position: relative;
	color: #ed2852;
}

#detail_box .detail_component .component_des{
	position: relative;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

#detail_box .detail_component .component_type{
	position: relative;
	text-align: center;
	width: 100%;
	font-style: italic;
	top: 10px;
}

#detail_box .detail_component .component_note{
	position: relative;
	text-align: left;
	margin-left: 5px;
	font-size: 0.7em;
	font-style: italic;
}

/*Detail Extras */
#detail_box .detail_extras{
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 150px;
	height: 208px;
	font-size: 1.35em;
	margin-top: 30px;
	border-radius: 10px;

}

#detail_box .detail_extras p{
	position: relative;
	font-size: 0.8em;
	top: 35px;
	font-weight: bold;
	text-align: center;
}


#detail_box .detail_extras button{
	position: absolute;
	height: 50px;
	width: 150px;
	left: 0px;
	bottom: 0px;
	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
  	border-radius: 5px;
  	outline: none;
  	box-shadow: none;
 	color: white;
  	font-size: 1em;
  	background: #5cb85c;
  	text-decoration: none;
}

#detail_box .detail_extras button:hover{
	color: 	#5cb85c;
	background-color: white;
}

#detail_box .detail_extras #added_to_cart{
	position: absolute;
	top: 90px;
	left: 140px;
	width: 90px;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
	color: #5cb85c;

}


#calendar_div{
	position: relative;
	display: inline-block;
	height: 220px;
	margin-top: 10px;
}

#calendar_div #details{
position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}

#calendar_div #details div.info{
	position: relative;
	height: 100%;
	width: 100%;
	color: black;
	text-align: left;
	padding-top: 41px;
}

#calendar_div #details div.info .date{
	position: relative;
	width: 100%;
	font-size: 20px;
	margin-bottom: 15px;
}
#calendar_div #details div.info .time{
	position: relative;
	font-size: 18px;
}
#calendar_div #details div.info .location{
	position: relative;
	font-size: 18px;
}
#calendar_div #details div.info .stadium{
	position: relative;
	font-size: 18px;
}
#calendar_div #details div.info .team{
	position: relative;
	font-weight: bold;
	font-size: 25px;
}
#calendar_div #details div.info .logo{
	position: relative;
	display: block;
	margin: auto;
	height: 80px;
	opacity: 0.2;
	padding-top: 10px;
	padding-bottom: 10px;
}

#calendar_wrapper{
	float: left;
	width: 300px;
	height: 220px;
}

#calendar {
    display:block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background:white;
    width:300px;
    border:solid 1px #CCC;
    margin: auto;
    margin-bottom:10px;
    
    @secondary-colour:#2875C7;
    @spacing:10px;
    @icon-width:40px;
    @header-height:40px;
}
#calendar div.header {
        float:left;
        width:100%;
        background:#2875C7;
        height:40px;
        color:white;
}
#calendar div.header *{ 
	height:40px;
    line-height:40px !important;
    display:inline-block;
    vertical-align:middle;
}
#calendar div.header span { 
    float:left;
    width:100%;
    font-weight:bold;
    text-transform:uppercase;
  	box-sizing:border-box;
	-moz-box-sizing:border-box;
    padding-left:50px;
    text-align:center;
    padding-right:40px;
    color:inherit;
}

#calendar div.week_label span.day {
        float:left;
        width:14.265%%;
        text-align:center;
        height:30px;
    	line-height:30px !important;
   		display:inline-block;
   		vertical-align:middle;
        background:white;
        color:#ed2852;

        }

#calendar div.week {
        float:left;
        width:100%;
        border-top:solid 1px #CCC;
 }
#calendar div.week:first-child {
            border-top:none;
}
#calendar div.week span.day {
            float:left;
            width:14.265%%;
            box-sizing:border-box;
		-moz-box-sizing:border-box;
            border-left:solid 1px #CCC;
            font-size:0.75em;
            text-align:center;
            	height:30px;
    line-height:30px !important;
    display:inline-block;
    vertical-align:middle;
            background:white;
            cursor:pointer;
            color:black;
            }

#calendar div.week span.day:first-child {
                border-left:none;
            }
            
#calendar div.week span.day.today {
                background:#E3F2FF;
            }
            
#calendar div.week span.day.different-month {
                color:#C0C0C0;
            }
            
#calendar div.week span.day.selected {
                background:#2875C7;
                color:white;
            }
        
#calendar div.week.names>span {
            color:#2875C7;
            font-weight:bold;
}
