/* ===========================
Fantastic Video
Copyright 2014
written by Spencer Brown - spencrbrown@gmail.com

A lot of the css is handled by bootstrap
These fixes are small customizations

swatch colors
=============
ed2852 - 'Fantastic' red

============================== */

/* resets and overrides */

*{
	margin: 0;
	padding: 0;
}

img {border: none;}

/* links and font */

a, a:link, a:active, a:visited a:hover {text-decoration: none;}

/* layout */

#summary_div{
	position: relative;
	width: 100%;
	overflow: hidden;
}

#summary_div #campaign_title{
	position: relative;
	text-align: center;
	height: 65px;
	width: 100%;
	top: 0px;
	left: 0px;
	color: black;
	background-color: white;
	margin: 0px;
	padding-top: 20px;
	font-size: 3.0em;
}

#summary_div #campaign_producer{
	position: relative;
	text-align: center;
	height: 20px;
	width: 100%;
	top: 0px;
	left: 0px;
	color: gray;
	background-color: white;
	margin: 0px;
	margin-top: 5px;
	padding-top: 0px;
	font-size: 12px;
}

#summary_div #campaign_producer a{
	color: rgba(0,0,0,0.5);
}

#summary_div #campaign_producer a:hover{
	color: rgba(0,0,0,0.7);
	text-decoration: underline;
}

#summary_div #visual_div{
	position: relative;
	top: 0px;
	left: 0px;
	height: 473px;
	width: 100%;
	background-color: black;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	overflow: hidden;
}

#visual_div .visual_element{
	display: block;
	margin: auto;
	outline: none;
	border: 0;
}

.visual_element#video_player{
	position: relative;
}

.visual_element.video_poster{
	position: absolute;
	top: 0px;
	height: 100%;
	width: auto;
}

#summary_div #campaign_info{
	position: relative;
	width: 100%;
	height: 480px;
	border-top: 2px solid #ed2852;
}

#summary_div #campaign_info #left_column{
	position: relative;
	width: 65%;
	height: 400px;
	float: left;
}

#summary_div #campaign_info #right_column{
	position: relative;
	width: 35%;
	height: 400px;
	float: left;
}

/*Left Column*/

#left_column #campaign_tagline{
	position: relative;
	height: 50%;
	padding-top: 55px;
	padding-right: 10px;
}

#campaign_tagline #large{
	position: relative;
	width: 100%;
	font-size: 29px;
	margin-bottom: 5px;
	color: black;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
}

#campaign_tagline #sub{
	position: relative;
	width: 100%;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 0px;
	color: black;
	text-align: left;
	padding-left: 10px;
}

/*The Reward bar is also in this column*/

/*Right Column*/
#right_column #campaign_snapshot{
	position: relative;
	width: 100%;
	height: 50%;
	top: 10px;
	color: black;
	padding-left: 20px;
	padding-top: 12px;
	line-height: 32px;

}

#campaign_snapshot .snapshot_figure_left{
	float: left;
	text-align: left;
	width: 65%;
	margin-bottom: 12px
}

#campaign_snapshot .snapshot_figure_right{
	float: left;	
	text-align: left;
	width: 35%;
}

.progress_number{
	font-size: 2.9em;
	font-weight: bold;
}

#campaign_total .progress_number{
	color: #ed2852;
}
#campaign_tally .progress_number{
	color: #033361;
}
#campaign_fans .progress_number{
	color: #5C2D53;
}
#current_progress .progress_number{
	color: green;
}

/*Reward Highlight*/

#reward_highlight{
	position: relative;
	float: left;
	height: 280px;
	width: 100%;
	text-align: left;
	color: white;
	background-color: black;
	top: 0px;
	padding-left: 20px;
	border-top-right-radius: 5px
}

#reward_highlight #reward_header{
	position: relative;
	font-size: 3.5em;
	font-weight: 300;
	margin: 0;
	top: 15px;
}

#reward_highlight #reward_title{
	position: relative;
	font-size: 2.0em;
	font-weight: bold;
	color: green;
	top: 25px;
	line-height: 30px;

}
#reward_highlight #reward_description{
	position: relative;
	top: 33px;
	font-style: italic;
}
#reward_highlight #reward_delivery{
	position: relative;
	top: 32px;
	font-style: italic;
}

#reward_highlight .bar_button{
	position: relative;
	top: 45px;
    height: 60px;
    width: 210px;
    color: white;
    font-size: 1.3em;
    border: 1px solid;
    border-color: rgba(255,255,255,0.0);
    outline: none;
}
#reward_highlight .bar_button:hover{
    background: white;
    border-color: rgba(0,0,0,1);
}

.bar_button#join_fanbase{
	background: #5C2D53;
}
.bar_button#join_fanbase:hover{
	color: #5C2D53;
}
.bar_button#checkout_scroll{
	background-color: green;
}
.bar_button#checkout_scroll:before{
	content: "";
	position: absolute;
	top: 24px;
	left: 25px;
	width: 30px;
	height: 30px;
	z-index: 2;
	background: url("/assets/images/cart_arrow_white.png") no-repeat;
	background-size: 12px 12px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.bar_button#checkout_scroll:hover:before{
	content: "";
	position: absolute;
	top: 24px;
	left: 25px;
	width: 30px;
	height: 30px;
	z-index: 2;
	background: url("/assets/images/cart_arrow_green.png") no-repeat;
	background-size: 12px 12px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.bar_button#checkout_scroll:hover{
	color: green;
}
